body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #4d4643;
}
a {
  color: #5cb7ed;
}

a:hover {
  color: #5cb7ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Playfair Display', serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #5cb7ed;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #5cb7ed;
  transition: 0.3s ease-in-out;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 14vh;
  background:white;
  transition: all 0.5s;
  z-index: 997;
  padding: 0 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 12%;
}

#header .logo a {
  color: #111;
}

#header .logo a span {
  color: #5cb7ed;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgb(9, 24, 163);
  transition: 0.3s;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
 
}

.btn-account{
  background-color: #ccddff9c;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  
  color: #0251a0;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-top: 2px solid #5cb7ed;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #111;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #5cb7ed;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 35px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #5cb7ed;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #111;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #5cb7ed;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  padding-left: 14px;
  margin-left: 20px;
  border-left: 1px solid #c4c4c4;
}

.header-social-links a {
  color: #a0a0a0;
  padding-left: 6px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

.header-social-links a.btn-account:hover {
  color: #5cb7ed;
  border: 1px solid #5cb7ed;
  background: #fff; 
}
.header-social-links a.btn-account{
    background: #5cb7ed;
    padding: 15px 45px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 3px 2px 3px 0 #33333345;
}
@media (max-width: 768px) {
  .header-social-links {
    padding: 0 48px 0 0;
    border-left: 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative;
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  top: 70px;
  left: 55px;
  right: 55px;
}

#hero .carousel-content {
  background: rgba(4, 4, 4, 0.7);
  padding: 20px;
  color: #fff;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  border-top: 5px solid #5cb7ed;
}

#hero .carousel-content h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #5cb7ed;
}

#hero .btn-get-started:hover {
  background: #5cb7ed;
  color: #fff;
  text-decoration: none;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
  opacity: 1;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 36px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #5cb7ed;
}

@media (min-width: 1024px) {
  #hero .carousel-content {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 992px) {
  #hero .carousel-container {
    top: 58px;
  }
  #hero .carousel-content h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  #hero .carousel-content p {
    font-size: 15px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 12px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7f7f7;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

@media(max-width: 630px)
{
  .section-title h2 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5cb7ed;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #5cb7ed;
  min-height: 40px;
  margin-top: 80px;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
  color: #fff;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
}

.breadcrumbs ol a {
  color: #fff;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

@media (max-width: 991px) {
  /*.breadcrumbs {
    margin-top: 58px;
  }*/
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.information .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background-image: linear-gradient(to bottom right,#0f658d,#b6dce4);
  border-radius: 25px;
  box-shadow: 10px 10px #888888;
}
.information .icon-box:hover {
  transform: translateY(-30px);
  transition: 0.4s ease-out;
}

@media(max-width: 978px)
{
  .information .icon-box:hover {
    transform: translateY(-15px);
    transition: 0.4s ease-out;
  }
}

.information .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.information .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.information .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.information .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.information .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.information .icon-box h4 a {
  color: #111;
  transition: ease-in-out 0.3s;
}

.information .icon-box p {
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
}

.information .icon-box:hover {
  border-color: #fff;
  box-shadow: 10px 10px 10px 10px #888888;
}

.information .iconbox-blue i {
  color: #47aeff;
}

.information .iconbox-blue:hover .icon i {
  color: #fff;
}

.information .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.information .iconbox-orange i {
  color: #ffa76e;
}

.information .iconbox-orange:hover .icon i {
  color: #fff;
}

.information .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.information .iconbox-pink i {
  color: #e80368;
}

.information .iconbox-pink:hover .icon i {
  color: #fff;
}

.information .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.information .iconbox-yellow i {
  color: #ffbb2c;
}

.information .iconbox-yellow:hover .icon i {
  color: #fff;
}

.information .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.information .iconbox-red i {
  color: #ff5828;
}

.information .iconbox-red:hover .icon i {
  color: #fff;
}

.information .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.information .iconbox-teal i {
  color: #11dbcf;
}

.information .iconbox-teal:hover .icon i {
  color: #fff;
}

.information .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .clients-wrap {
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
}

.clients .client-logo {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  overflow: hidden;
  background: #fff;
  height: 100px;
}

.clients .client-logo img {
  transition: all 0.3s ease-in-out;
  height: 36px;
  /* filter: grayscale(100%); */
}

.clients .client-logo:hover img {
  filter: none;
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us .content h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-us .content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}

.about-us .content ul {
  list-style: none;
  padding: 0;
}

.about-us .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}

.about-us .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #5cb7ed;
}

.about-us .content p:last-child {
  margin-bottom: 0;
}
.img-paddi{
  padding: 65px;
}
/*--------------------------------------------------------------
# Our Product
--------------------------------------------------------------*/

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #5cb7ed;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #fff;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
        background: #5cb7ed;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #fff;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    border: 3px solid #5cb7ed;
    display: block;
    text-decoration: none;
    margin: 20px auto 1px auto;
    color: #f7f7f7;
    overflow: hidden;
    position: relative;
    background-color: #5cb7ed;
}

#ads .ad-btn:hover {
            background-color: #fff;
            color: #5cb7ed;
            border: 2px solid #5cb7ed;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }
/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #847872;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 36px;
  color: #5cb7ed;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #4d4643;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 16px;
}

.pricing ul i {
  color: #5cb7ed;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #5cb7ed;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #5cb7ed;
}

.pricing .featured h3 {
  color: #fff;
  background: #5cb7ed;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #fff;
  color: #5cb7ed;
}
.pricing .advanced:hover {
  background: #5cb7ed;
  color: #fff;
}
/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: lightgray;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #5cb7ed;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 40px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #dddddd;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px 0 0 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-wrap {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.contact .info {
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #5cb7ed;
  float: left;
  width: 44px;
  height: 44px;
  border: 1px solid #5cb7ed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #111;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #444444;
}

.contact .info:hover i {
  background: #5cb7ed;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #5cb7ed;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #5cb7ed;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #5cb7ed;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding: 40px 0;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #5cb7ed !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  padding: 40px 0 20px 0;
}

.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
  max-height: 400px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  color: #111;
  transition: 0.3s;
}

.blog .entry .entry-title a:hover {
  color: #5cb7ed;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #aaaaaa;
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 14px;
  padding-right: 4px;
}

.blog .entry .entry-meta a {
  color: #5e5e5e;
  font-size: 14px;
  display: inline-block;
  line-height: 20px;
  transition: 0.3s;
}

.blog .entry .entry-meta a:hover {
  color: #5cb7ed;
}

.blog .entry .entry-content p {
  line-height: 24px;
}

.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: #5cb7ed;
  color: #fff;
  padding: 7px 25px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
  background: #1ed33c;
}

.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
  color: #4d4643;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog .entry .entry-content blockquote .quote-left {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 36px;
  color: #e7e7e7;
}

.blog .entry .entry-content blockquote .quote-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 36px;
  color: #e7e7e7;
}

.blog .entry .entry-content blockquote::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #111;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
  color: #5e5e5e;
  display: inline;
}

.blog .entry .entry-footer a {
  color: #8b8b8b;
  transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
  color: #5cb7ed;
}

.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog .entry .entry-footer .cats li {
  display: inline-block;
}

.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog .entry .entry-footer .tags li {
  display: inline-block;
}

.blog .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}

.blog .entry .entry-footer .share {
  font-size: 16px;
}

.blog .entry .entry-footer .share i {
  padding-left: 5px;
}

.blog .entry-single {
  margin-bottom: 30px;
}

.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
  width: 120px;
}

.blog .blog-author h4 {
  margin-left: 140px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
}

.blog .blog-author .social-links {
  margin: 0 0 5px 140px;
}

.blog .blog-author .social-links a {
  color: #777777;
}

.blog .blog-author p {
  margin-left: 140px;
  font-style: italic;
  color: #bfb9b6;
}

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog .blog-comments .comment .comment-img {
  width: 50px;
}

.blog .blog-comments .comment h5 {
  margin-left: 65px;
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #4d4643;
  transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
  color: #5cb7ed;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #111;
}

.blog .blog-comments .comment time {
  margin-left: 65px;
  display: block;
  font-size: 14px;
  color: #777777;
  margin-bottom: 5px;
}

.blog .blog-comments .comment p {
  margin-left: 65px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 0;
  padding: 20px 10px;
  font-size: 14px;
  border-radius: 4px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #57e76f;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 0;
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 4px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #57e76f;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #5cb7ed;
}

.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #1ed33c;
}

.blog .blog-pagination {
  color: #444444;
}

.blog .blog-pagination ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.blog .blog-pagination li {
  border: 1px solid white;
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li.active {
  background: white;
}

.blog .blog-pagination li a {
  color: #b4aca8;
  padding: 7px 16px;
  display: inline-block;
}

.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
  background: #5cb7ed;
  border: 1px solid #5cb7ed;
  border-radius: 4px;
}

.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .blog-pagination li.disabled {
  background: #fff;
  border: 1px solid white;
}

.blog .blog-pagination li.disabled i {
  color: #f6f5f5;
  padding: 10px 16px;
  display: inline-block;
}

.blog .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #111;
  position: relative;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}

.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
  border-radius: 4px;
}

.blog .sidebar .search-form form input[type="text"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: #5cb7ed;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

.blog .sidebar .search-form form button:hover {
  background: #1ed33c;
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: #2b2b2b;
  transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
  color: #5cb7ed;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  color: black;
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #5cb7ed;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #777777;
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: #515151;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #dddddd;
  display: inline-block;
  transition: 0.3s;
  border-radius: 4px;
}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #5cb7ed;
  background: #5cb7ed;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 18px;
  background: #111;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background-image: linear-gradient(to bottom right,#42afee, rgb(182, 220, 228));
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 22px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255);
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #5cb7ed;;
  font-size: 18px;
  line-height: 1;
}
input[type=email]:focus:not([readonly]){
  box-shadow: none !important;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
  color: rgba(255, 255, 255);
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px 0 0 4px;
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #5cb7ed;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #5cb7ed;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #5cb7ed;
  color: #fff;
  text-decoration: none;
}
#home{
    width: 100%;
    /* background: url('../img/information.jpg') no-repeat center center; */
    padding-top: 0px;
    background-size:contain;
    position: relative;
    color: white;
    overflow: hidden;
}
.overlay{background-color:#212529;width:100%;top:0;left:0;}
.tophead{
    margin-top: 150px;
  
}
.carousel_opacity{opacity: .6;}

.title-main{
    /*font-size: 50px;
    font-weight: bold;*/
  text-transform: uppercase;
    /*line-height: 4rem;*/
}
@media(max-width: 768px)
{
  .title-main h1 {
    font-size: 1rem !important;
}
.divBg{
    padding: 30px 5px!important;
}
a.btn-explore, a.btn-account, .btn-view {
 padding: 10px 10px !important;
}
#product .productMT {
  margin-top: 30px;
}  
a.btn-account{
margin-left: 14px;
margin-top: 5px;

}
.text-wrap, .login-wrap {
     width: 100% !important ; 
}
.cid .card1,.cid .card2,.cid .card3,.cid .card4{
  margin: 0 auto !important

}
}
@media(max-width: 425px)
{
  .cid .card1,.cid .card2,.cid .card3,.cid .card4{
  margin: 0 auto !important

}
}
.subtitle-main{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 35px;
    line-height: 1.5em;
}
.top-btn-block a{
  margin: 0 7px 0 0;
}

.btn-primary:hover{
  color: rgb(49, 65, 209);
  background-color: #f1f1f1;
  border-color: #285e8e; /*set the color you want here*/
}

a.btn-explore,a.btn-account,.btn-view {
    background: #d4e2ff;
    padding: 10px 10px;
    color: rgb(3, 3, 3);
    text-align: center;
    /* width: 90px; */
    border-radius: 5px;
    /* box-shadow: 3px 2px 3px 0 #33333345; */
}

.caption{
  background-color: #3b6c83a3;
  border-radius: 10px;
  padding: 20px;
  margin: -29px;
}

.carousel-caption {
  width: 40%;
  left: 15%;
  top: 60% !important;
  transform: translateY(-50%);
  text-align: left;
  bottom: initial;
  }

 @media (max-width : 1104px){
  .carousel-caption {
    width: 70%;
    left: 15%;
    top: 60% !important;
    transform: translateY(-50%);
    text-align: left;
    bottom: initial;
    }
 } 





a.btn-explore:hover,a.btn-account:hover,.btn-view:hover {
    background: #fff;
    color: #5cb7ed;
    /*border: 2px solid #5cb7ed;*/
    box-shadow: 0px 1px 14px 0 #33333345;
}
.divBg{
    background: #80808096;
    padding: 35px;
    border-radius: 10px;
}

.progress {
    overflow: inherit !important;
  }
  .header-social-signIn {
    padding-left: 14px;
    margin-left: 20px;
}
.header-social-signIn a.btn-account {
    background: #5cb7ed !important;
    padding: 5px 45px !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #5cb7ed !important;
    box-shadow: 3px 2px 3px 0 #33333345 !important;
}
.header-social-signIn a.btn-account:hover {
    background: #fff !important;
    padding: 5px 45px !important;
    color: #5cb7ed !important;
    border-radius: 5px !important;
    box-shadow: 3px 2px 3px 0 #33333345 !important;
}
/*------------------slider-----------------------------*/
.card .carousel-item {
  height: 200px;
}
.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}
.card .carousel-caption h3 {
  color: #3d3d3d;
}
.card .carousel-caption p {
  line-height: 30px;
}
.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.card .carousel-caption .col-sm-9 {
  text-align: left;
}
.navi a {
    text-decoration:none;
}
a > .ico {
    background-color: grey;
    padding: 10px;
    
}
a:hover > .ico {
    background-color: #666;
}
/*---------------------end slider------------------------*/
/*---------------------Login start-----------------------*/
.text-wrap{
background-color: #5cb7ed;
color: #fff;
}
/*.checkbox-primary {
    color: #01f138a3;
}*/
.text-wrap, .login-wrap {
    width: 50%;
}
button.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.signin-form button.form-control.btn.submit{
  background: #5cb7ed;
    border-color: #5cb7ed;
}
.signin-form button.form-control.btn.submit:hover{
 background: #fff;
    border-color: #5cb7ed;
    color: #5cb7ed;
}
.bg-Theme a.btn.btn-white.btn-outline-white {
    border-color: #fff;
    color: #fff;
}
.bg-Theme a.btn.btn-white.btn-outline-white:hover {
    border-color: #5cb7ed;
    color: #5cb7ed;
    background: #fff;
}
.checkbox-primary input:checked ~ .checkmark:after {
    color: #01f138a3;
}
input.form-control:focus{
    border-color: #5cb7ed;
    box-shadow: unset;
}
/*--------------Owl------------------------*/
.owl-carousel .owl-item img {
    border: 1px solid #80808029;
    border-radius: 5px;
}
/*--------------Owl------------------------*/
.footer-top .container-fluid{
  padding-right: 85px;
  padding-left:  85px;
}
@media(max-width: 768px){
  .footer-top .container-fluid{
  padding-right: 30px;
  padding-left:  30px;
}
}
/*---------------Downloads-----------------*/
.spi p,.cid h4,.cid h2 {
  color: gray;
  line-height: 1.5rem;
  font-weight: 300;
}
.cid .card{
  box-shadow: 4px 3px 9px 2px grey; 
}
.cid .card1{
  background-color: #d698b5;
}
.cid .card2{
  background-color: #9ccd7e;
}
.cid .card3{
  background-color: #5ca7db;
}
.cid .card4{
  background-color: #848abd;
}
/*-----------------------*/
.download-2 .bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40vh;
  border-radius: 25px;
 
}
.download-2 video {
  min-width: 100%;
  min-height: 40vh;
  z-index: 1;
}
.download-2 .overlay {
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}
.download-2 h1.videoTxt {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  height: 80px;
}
.download-2 ul li {
    padding: 10px 0 0 28px;
    position: relative;
    list-style: none;
}
.download-2 ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: #5cb7ed;
}
.btn-danger {
    background-color: #5cb7ed;
}
button.close {
    font-size: 15px;
    color: white;
  }
/*--------------------Download Links---------------------------*/
.btn.btnDown{
  background-color:#5cb7ed;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btn.btnadmin
{
  background-color:#5cb7ed;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  float: right;
}
.btn.btnDown{

}
.hide{
  display: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
    border-top: none !important;
  }
  .logo:hover{
    cursor: pointer;
  }


  @media (max-width : 643px){
    .h1, h1 {
      font-size: 1.5rem;
     }
     .subtitle-main {
      font-size: 0.9rem;
      font-weight: 300;
      line-height: 1.5em;
     }
     .btn-group-lg>.btn, .btn-lg {
      padding: .2rem 0.1rem;
      font-size: 0.9rem;
      line-height: 1.5;
      border-radius: .3rem;
    }
    #desc{
      margin-bottom: 5px;
    }
   } 

   
  @media (max-width : 435px){
    .h1, h1 {
      font-size: 1.2rem;
     }
     .subtitle-main {
      /* font-size: 0.5rem; */
      font-weight: 300;
      line-height: 1.5em;
     }
     .btn-group-lg>.btn, .btn-lg {
      padding: .1rem 0.09rem;
      font-size: 0.6rem;
      line-height: 1.5;
      border-radius: .3rem;
    }
    #desc{
      margin-bottom: 0px;
    }
   } 

   video {
    width: 500px;
    height: 310px;
  }

   @media (max-width : 1038px) {
      video{
        width : 450px ;
      }
   }

   @media (max-width : 467px) {
    video{
      width : 380px ;
      height: 240px;
    }
 }

 @media (max-width : 410px) {
  video{
    width : 340px ;
    height: 240px;
  }
}
.fixed{
  
  height: 14vh;
  background:#ffffff;
  /* opacity: 0.8; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 12%;
}

#product-pd{
  /* padding: 20px 100px 10px 20px; */
}

@media (max-width : 1181px) {
  #header .logo {
    width: 14%;
  }
}
@media (max-width : 1030px) {
  #header .logo {
    width: 16%;
  }
}
@media (max-width : 835px) {
  #header .logo {
    width: 18%;
  }
}
@media (max-width : 706px) {
  #header .logo {
    width: 21%;
  }
}
@media (max-width :603px) {
  #header .logo {
    width:24%;
  }
}
@media (max-width :550px) {
  #header .logo {
    width:28%;
  }
}
@media (max-width :500px) {
  #header .logo {
    width:32%;
  }
}
@media (max-width :450px) {
  #header .logo {
    width:36%;
  }
}
@media (max-width :380px) {
  #header .logo {
    width:45%;
  }
}

#col1{
  background-image: url('../../Image/card2.jpg');
   background-size:cover;
   background-position: center; 
  background-repeat: no-repeat;
  opacity: 0.8;
}
#col2{
  background-image: url('../../Image/azamat-e-eb1cgnNIazI-unsplash.jpg');
   background-size:cover;
   background-position: center; 
  background-repeat: no-repeat;
}
#col3{
  background-image: url('../../Image/1892783.jpg');
   background-size:cover;
   background-position: center; 
  background-repeat: no-repeat;
}


/********************************ppt about section start**************************************************/
.overppt{background-color:white;width:100%;top:0;left:0;}
#ppt{
  width: 100%;
  height: 680px;

}
.contain {
  width: 100%;
  min-height: 100%;
}
.image {
  margin-top: 30%;
  perspective: 20000px;
  width: 50%;
  height: 500px;
  position:relative;
  left: 48%;
  top:45%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}
.image img {
  border-radius: 30px;
  width: 700px;
  height: 400px;
  /* transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
  box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
  transition: all 1s;
  transform-style: preserve-3d; */
}
/* .image:hover img {
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
} */
@media (max-width : 1251px) {
  #ppt{
    width: 100%;
    height: 600px;
  
  }
  .image {
    margin-top: 25%;
    perspective: 20000px;
    width: 50%;
    height: 500px;
    position:relative;
    left: 48%;
    top:45%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
  }
  .image img {
    border-radius: 30px;
    width: 700px;
    height: 400px;
    /* transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
    transition: all 1s;
    transform-style: preserve-3d; */
  }

}
@media (max-width :1115px) {
    .image {
      margin-top: 41%;
      perspective: 20000px;
      width: 50%;
      height: 700px;
      left: 48%;
      top:45%;
    }
    .image img {
      width: 600px;
      height: 350px;
    }
}
@media (max-width :992px) {
  .image {
    margin-top: 41%;
    perspective: 20000px;
    width: 50%;
    height: 700px;
    left: 53%;
    top:47%;
  }
  .image img {
    width: 500px;
    height: 350px;
  }
}
@media (max-width :945px) {
  .image {
    margin-top: 44%;
    perspective: 20000px;
    width: 50%;
    height: 700px;
    left: 51%;
    top:47%;
  }
  .image img {
    width: 500px;
    height: 350px;
  }
}
@media (max-width :874px) {
  #ppt{
    width: 100%;
    height: 400px;
  
  }
  .image {
    margin-top: 33%;
    perspective: 20000px;
    width: 50%;
    height: 500px;
    left: 51%;
    top:47%;
  }
  .image img {
    width: 430px;
    height: 300px;
  }
}
@media (max-width :844px) {
  #ppt{
    width: 100%;
    height: 400px;
  
  }
  .image {
    margin-top: 30%;
    width: 50%;
    height: 400px;
    left: 54%;
    top:42%;
  }
  .image img {
    width: 380px;
    height: 250px;
  }
}
@media (max-width :765px) {
  #ppt{
    width: 100%;
    height: 400px;
  
  }
  .image {
    margin-top: 33%;
    width: 50%;
    height: 400px;
    left: 51%;
    top:42%;
  }
  .image img {
    width: 380px;
    height: 250px;
  }
}
@media (max-width :682px) {
  #ppt{
    width: 100%;
    height: 400px;
  
  }
  .image {
    margin-top: 38%;
    width: 50%;
    height: 400px;
    left: 51%;
    top:38%;
  }
  .image img {
    width: 360px;
    height: 220px;
  }
}
@media (max-width :620px) {
  #ppt{
    width: 100%;
    height: 350px;
  
  }
  .image {
    margin-top: 45%;
    width: 50%;
    height: 400px;
    left: 44%;
    top:42%;
  }
  .image img {
    width: 360px;
    height: 220px;
  }
}
@media (max-width :493px) {
  #ppt{
    width: 100%;
    height: 350px;
  
  }
  .image {
    margin-top: 48%;
    width: 50%;
    height: 400px;
    left: 44%;
    top:42%;
  }
  .image img {
    width: 330px;
    height: 200px;
  }
}
@media (max-width :460px) {
  #ppt{
    width: 100%;
    height: 300px;
  
  }
  .image {
    margin-top: 52%;
    width: 50%;
    height: 400px;
    left: 44%;
    top:42%;
  }
  .image img {
    width: 300px;
    height: 180px;
  }
}
@media (max-width :407px) {
  #ppt{
    width: 100%;
    height: 300px;
  
  }
  .image {
    margin-top: 62%;
    width: 50%;
    height: 400px;
    left: 43%;
    top:42%;
  }
  .image img {
    width: 270px;
    height: 150px;
  }
}
@media (max-width :360px) {
  #ppt{
    width: 100%;
    height: 220px;
  
  }
  .image {
    margin-top: 66%;
    width: 50%;
    height: 400px;
    left: 43%;
    top:42%;
  }
  .image img {
    width: 230px;
    height: 100px;
  }
}
.slider{
  margin-bottom: 20%;
}
/********************************ppt about section end**************************************************/
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

body {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--veryLightGray);
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: black;

}

h1:last-of-type {
  color: black;
}

@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}


.box p {
  color: black;
}


.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  background-image: linear-gradient(to bottom right, #42afee66, rgb(182 220 228 / 0%));
  padding: 30px;
  margin: 20px;  
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
      height: 480px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 410px;
  }
}
@media (max-width: 950px) and (min-width: 570px) {
  .box {
      text-align: center;
      height: 330px;
  }
}


.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}


@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 30%;
   
  }
  .header p {
      width: 30%;
  }
  
}

/***********************clients***********/
/* body {
  font-family: tahoma;
  height: 100vh;
  background-image: url(https://picsum.photos/g/3000/2000);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
} */

.our-team {
  padding: 19px 0 20px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 99px;
  width: 96px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background-color: #1369ce; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}


.d-btn {
  background-color: rgb(90, 151, 212);
  border: none;
  color: white;
  padding: 9px 11px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 22px;
}

/* Darker background on mouse-over */
.d-btn:hover {
  background-color: RoyalBlue;
  color: white;
}


p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #111;
}

h2 {
  color: hsl(0deg 0% 0%);
    font-weight: var(--weight3);
}

#head-tyv{
  color: #ffffff;
}

/**********************************************************************************************/
